[canister]

# The logs directory
log_path = ./logs/
# Logging levels: DISABLED, DEBUG, INFO, WARNING, ERROR, CRITICAL
log_level = DEBUG
# Log older than that will be deleted
log_days = 100

# (not yet implemented) how long the session data will still be available after the last access
session_expiration = 30d
# (not yet implemented) the interval to check for obsolete sessions
session_check_interval = 1h

# applies CORS to responses, write * to allow AJAX requests from anywhere
CORS = false

# Basic auth
auth_basic_username = alice
auth_basic_encryption = clear
auth_basic_password = my-secret

# ...or alternatively, if you dislike putting your plain text password in the config:
# auth_basic_encryption = sha256
# auth_basic_password = 186ef76e9d6a723ecb570d4d9c287487d001e5d35f7ed4a313350a407950318e


# Auth using JWT (using auth0 for example)
auth_client_id = ABC
auth_jwt_encoding = base64url
auth_jwt_secret = my-secret