[bottle]

# Server adapter to use. Choices: wsgiref, gevent, cherrypy... (see bottle docs for full list)
server = wsgiref

# Pass 0.0.0.0 to listens on all interfaces including the external one.
host = localhost

# Server port to bind to. Values below 1024 require root privileges.
port = 8080

# Traceback on error pages, templates not cached, plugins applied directly
# Also activates reloader, and redirect all logs on DEBUG level to stdout/stderr
debug = true

[logs]

# If not in debug mode, 2 logs are produced per day:
# requests.yyyy-mm-dd - contains requests only
# log.yyyy-mm-dd - contains all messages, including requests
# ...and nothing is written to stdout/stderr

# The logs directory
path = ./logs/
# Logging levels: DISABLED, DEBUG, INFO, WARNING, ERROR, CRITICAL
level = DEBUG
# Log older than that will be deleted
days = 100
# Requests / server adapter stdout
requests = true
# (not yet implemented) email to notify on error
notify = 


[sessions]

# (not yet implemented) how long the session data will still be available after the last access
expiration = 30d
# (not yet implemented) the interval to check for obsolete sessions
check_interval = 1h


[views]
# static path: everything inside will be served like normal files
static_path = ./static/

# templates path: used in bottle with template('...')
template_path = ./views/


[requests]

# applies CORS to responses, write * to allow AJAX requests from anywhere
CORS = false

# Basic auth
[auth_basic]

username = alice
password_enc = clear
password = my-secret

# ...or alternatively, if you dislike putting your plain text password in the config:
# username = alice
# password_enc = sha256
# password = 186ef76e9d6a723ecb570d4d9c287487d001e5d35f7ed4a313350a407950318e



# Auth using JWT (using auth0 for example)
[auth_jwt]

# the secret, encoded as urlsafe_b64decode
secret = 1LlIwTCB7wliFKRVaTcWg7Ask6yRGVHjxcZ-ATVCnGTlKnHLpEuhuUuhv34OdFD0

#[asodb]

# if true, read acces will not require authorization
# public = True
# owner
# owner = 
# a list of emails of who can edit data
# admins = *